<div class="container">
    <h1>Welcome to the Dojo Activity Center</h1>
    <div class="register" style="display: inline-block; vertical-align: top; width: 450px; border: solid black 2px; margin-top: 40px;">
        <h5>Register</h5>
        <partial name="UserPartial" />
    </div>
    <div class="login" style="display: inline-block; vertical-align: top; width: 450px; border: solid black 2px; margin-left: 20px; margin-top: 40px;">
        <h5>Login</h5>
        <partial name="LoginPartial" />
    </div>
    
</div>

